* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #eee;
}

#example {
  width: 480px;
  margin: 0 auto;
  padding-bottom: 400px;
}

.react-image-publisher {
  padding: 20px;
}

.file-drop-area img {
  width: 100%;
}